/*Pseudo 

a:link{
    color:gray;
}

h2:hover{
    color:red;
}
*/


/*a:link {
    color: purple;
}

a:visited {
    color: green;
}

a:active {
    color: black;
}

h2:hover {
    color: red;
}

#header:hover {
    background-color: lightblue;
    color: peru;
    padding: 100px;
}*/


/* Positioning Property
    static
    relative
    fixed
    absolute
    sticky

*/


/*header {
    position: relative;
    left: 50px;
    top: 100px;
    border: 2px dotted green;
}*/


/*header {
    position: fixed;
    top: 10px;
    left: 250px;
    background: lightgreen;
    color: red;
    text-align: center;
    width: 500px;
}

h4 {
    position: fixed;
    bottom: 20px;
    background: brown;
    color: white;
}

#header {
    position: relative;
    border: 2px dashed red;
    width: 400px;
    height: 200px;
}

#header h2 {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 1px dashed green;
    top: 50px;
    right: 0px;
}*/

#nav {
    background: lightgoldenrodyellow;
    margin: 10px auto;
    padding: 5px;
    position: sticky;
    top: 100px;
}

#nav ul {
    margin: 10px auto;
}

#nav ul li {
    display: inline-block;
    font-weight: bold;
}

#para {
    position: sticky;
    bottom: 50px;
    background: blue;
    color: wheat;
}